<nav class="navbar navbar-expand-lg">

    <div class="container-fluid">

        <a class="navbar-brand" href="/">WhatsApp-Like 📞</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">

            <div class="d-flex align-items-center">

                {% if app.request.pathInfo != '/' %}
                    <a class="btn btn-primary ms-2" href="{{ path('home') }}">Retour à l'accueil</a>
                {% endif %}

                {% if "/admin" not in app.request.pathInfo and is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-primary ms-2" href="{{ path('admin') }}">Pannel d'administration</a>
                {% endif %}

                <form class="d-flex ms-2" action="{{ path('app_logout') }}" method="post">
                    <button type="submit" class="btn btn-danger">Se déconnecter</button>
                </form>

            </div>

        </div>

    </div>

</nav>