{# templates/index-card-admin.html.twig #}

{# Contenu card page index ADMIN #}


    <h4 class="text-center"><b>Menu</b></h4>

    <div class="text-center">
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PRIVILEGED') %}
            <a href="{{ path('creationCommissionTemporaire') }}" class="btn btn-primary">Créer commission</a>
            <a href="{{ path('admin') }}" class="btn btn-danger">Modifier commission</a>
            <hr class="opacity-0">
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin') }}" class="btn btn-secondary">Page administration</a>
            <hr class="opacity-0">
        {% endif %}
    </div>