body {
    background: linear-gradient(45deg, #9799dd 0%, #aaaced 50%);
    max-height: 100vh!important;
    height: 100vh!important;
    overflow: auto;
    font-family: Arial, sans-serif;
}

.hidden {
    display: none;
}